<div>

  <mat-card>
    <mat-card-title>Produkty</mat-card-title>
    <mat-card-content>

      <mat-expansion-panel *ngFor="let p of products">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{p.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel routerLink="/category/{{cid}}/subcategory/{{sid}}/product/{{p.id}}">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Przejdź do strony produktu
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Edytuj
            </mat-panel-title>
          </mat-expansion-panel-header>

          <img src="data:image/jpeg;base64,{{p.images[0]}}"/>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Usuń
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dodaj produkt
          </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="form" (ngSubmit)="addProduct()">
          <mat-form-field>
            <mat-label>Nazwa</mat-label>
            <input type="text" formControlName="name" matInput placeholder="Nazwa">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Opis</mat-label>
            <input type="text" formControlName="description" matInput placeholder="description">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Cena</mat-label>
            <input type="number" formControlName="price" matInput placeholder="price">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Ilość</mat-label>
            <input type="number" formControlName="quantity" matInput placeholder="quantity">
          </mat-form-field>
          <br>
            <input type="file" formControlName="images" placeholder="images" (change)="onFileChange($event)">
          <br>
          <div *ngFor="let i of images">
            <img src="{{i.image}}"/>
          </div>
          <button type="submit" [disabled]="form.invalid" mat-button>Dodaj</button>
        </form>

      </mat-expansion-panel>

    </mat-card-content>
  </mat-card>

</div>
