<br><br>
<table class="table table-striped"*ngIf="products!=null && products.length>0 else elseBlock">
  <tr>
    <th>Miniaturka</th>
    <th>Nazwa produktu</th>
    <th>Ilość</th>
    <th>Cena</th>
  </tr>
  <tr *ngFor="let product of products; let i=index;">
    <td>
        <span *ngIf="product.images.length>0; else elseBlock">
          <img src="data:image/jpeg;base64,{{product.images[0].image}}" alt="Brak miniaturki" height="100" width="100"/>
        </span>
      <ng-template #elseBlock>
        Brak miniaturki
      </ng-template>
    </td>
    <td><a routerLink="/product/{{product.id}}">{{product.name}}</a></td>
    <td>
      <mat-chip-list>
      <mat-chip color="warn" selected (click)="minusFromCart(product.id)">-</mat-chip>
<!--      <mat-chip>-->

        {{productsMap[product.id]}}
<!--      </mat-chip>-->
      <mat-chip color="primary" selected (click)="addToCart(product.id)">+</mat-chip>
      </mat-chip-list>
    </td>
    <td>{{product.price}} zł</td>
  </tr>
  <br>
  <tr>Razem: {{getSum()}} zł</tr>
</table>
<ng-template #elseBlock>
  <h3>
    Brak produktów
  </h3>
</ng-template>
