<div class="grid-container">
  <h1 class="mat-h1">Panel administracyjny</h1>

  <mat-card>
    <mat-card-title>Kategorie</mat-card-title>

    <mat-card-content>

      <mat-expansion-panel *ngFor="let c of categories">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{c.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel (opened)="setEditFormCategory(c)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Edytuj
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form [formGroup]="formCe" (ngSubmit)="editCategory(c.id)">
            <mat-form-field>
              <mat-label>Nazwa</mat-label>
              <input type="text" formControlName="name" matInput placeholder="Nazwa">
            </mat-form-field>
            <br>
            <button type="submit" [disabled]="formCe.invalid" mat-button>Edytuj</button>
          </form>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Usuń
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Czy na pewno?</p>
            <button (click)="removeCategory(c.id)" mat-button>Usuń</button>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Podkategorie
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-expansion-panel *ngFor="let s of c.subcategories">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{s.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-expansion-panel (opened)="setEditFormSubcategory(s)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Edytuj
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form [formGroup]="formSce" (ngSubmit)="editSubcategory(s.id)">
                <mat-form-field>
                  <mat-label>Nazwa</mat-label>
                  <input matInput type="text" formControlName="name" placeholder="Nazwa">
                </mat-form-field>
                <br>
                <button type="submit" [disabled]="formSce.invalid" mat-button>Edytuj</button>
              </form>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Usuń
                </mat-panel-title>
              </mat-expansion-panel-header>
                <p>Czy na pewno?</p>
                <button (click)="removeSubcategory(s.id)" mat-button>Usuń</button>
            </mat-expansion-panel>

            <mat-expansion-panel routerLink="category/{{c.id}}/subcategory/{{s.id}}/products" >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Produkty
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>

          </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Dodaj podkategorię
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="formSc" (ngSubmit)="addSubcategory(c.id)">
            <mat-form-field>
              <mat-label>Nazwa</mat-label>
              <input type="text" formControlName="name" matInput placeholder="Nazwa">
            </mat-form-field>
            <br>
            <button type="submit" [disabled]="formSc.invalid" mat-button>Dodaj</button>
          </form>
        </mat-expansion-panel>

        </mat-expansion-panel>
      </mat-expansion-panel>

<!--      <a mat-button routerLink="admin/category/add">Dodaj kategorię</a>-->

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dodaj kategorię
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="formC" (ngSubmit)="addCategory()">
          <mat-form-field>
            <mat-label>Nazwa</mat-label>
            <input type="text" formControlName="name" matInput placeholder="Nazwa">
          </mat-form-field>
          <br>
          <button type="submit" [disabled]="formC.invalid" mat-button>Dodaj</button>
        </form>
      </mat-expansion-panel>

    </mat-card-content>
  </mat-card>



  <!--  <mat-grid-list cols="2" rowHeight="350px">-->
<!--    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">-->
<!--      <mat-card class="dashboard-card">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title>-->
<!--            {{card.title}}-->
<!--            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">-->
<!--              <mat-icon>more_vert</mat-icon>-->
<!--            </button>-->
<!--            <mat-menu #menu="matMenu" xPosition="before">-->
<!--              <button mat-menu-item>Expand</button>-->
<!--              <button mat-menu-item>Remove</button>-->
<!--            </mat-menu>-->
<!--          </mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content class="dashboard-card-content">-->
<!--          <div>Card Content Here</div>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
</div>
