<div *ngIf="product!=null">
  <br><br>

  <div *ngIf="category!=null && subcategory!=null">
    <mat-chip-list>
      <mat-chip routerLink="">{{category.name}}</mat-chip>
      <mat-chip routerLink="/category/{{category.id}}/subcategory/{{subcategory.id}}/products">{{subcategory.name}}</mat-chip>
    </mat-chip-list>

  <br><br>

  <div class="container">
    <div class="row">
        <div class="col-sm-4">

<!--        <div class="card">-->
<!--          <div class="card-body">-->

        <!--- Image Slider -->
        <div id="slides" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
          </ul>
          <div class="carousel-inner" height="250">
            <div class="carousel-item active">
              <img src="data:image/jpeg;base64,{{product.images[0].image}}"
                   class="img-circle mx-auto d-block"
                   height="250" alt="obrazek">
            </div>
            <div class="carousel-item" *ngFor="let i of product.images.slice(1)">
              <img src="data:image/jpeg;base64,{{i.image}}"
                   class="img-circle mx-auto d-block"
                   height="250" alt="obrazek">
            </div>
          </div>
        </div>
        <!--- Image Slider -->

      </div>

      <div class="col-sm-4">
        <h2>{{product.name}}</h2>
        <h3>{{product.description}}</h3>
      </div>


<!--        </div></div>-->

      <div class="col-sm-4">
        <div class="card" style="max-width: 22rem; height: 24rem;">
          <div class="card-body">
            <h3 class="card-title text-center">{{product.price}} zł</h3>
            <h5 class="card-text">Odbiór osobisty: GRATIS</h5>
            <h5 class="card-text">Dostępnych sztuk: {{product.quantity}}</h5>
            <h5 class="card-text"><a href="#">Koszty dostawy</a></h5>
            <h5 class="card-text"><a href="#">Sprawdź dostępność w salonach</a></h5>
            <div *ngIf="product.quantity>0">
              <a mat-raised-button color="primary" (click)="addToCart(1)">Do koszyka</a>
            </div>
            <div *ngIf="product.quantity<=0">
              <a mat-raised-button color="warn">Brak produktu</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>



